<!DOCTYPE html>
<html lang="uk">

<%- include('../block/head.ejs'); %>

<body class="bg-dark text-light text-center">

   <%- include('../block/header.ejs'); %>

   <h1 class="text-center my-4">Error 404</h1>
   <h3 class="text-center">Не вдалося знайти дану сторінку:</h3>
   <h3><%=path%></h3>

   <%- include('../block/script.ejs'); %>

</body>

</html>
